.Content h1{
    margin: 15px 0;
    font-size: 20px;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: #e9900a;
    text-transform: none;
    text-shadow: none;
    text-align: center;
}